{% extends "emails/email_base.html" %}

{% block subject %}Your Account Password Has Been Reset{% endblock %}

{% block body %}
<p>Hello {{ user_name }},</p>

<p>An administrator has reset the password for your {{ university_name|default:"University Timetabling System" }} account.</p>

<p>Your new default credentials:</p>
<p>Username: {{ username }}<br>
Temporary Password: {{ temp_password }}</p>

<p>You are strongly encouraged to change your password immediately after logging in.</p>

{% if reset_url %}
<p>Click the link below to set a new password right now:</p>
<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>
<p>This link expires in 24 hours.</p>
{% endif %}

<hr>
<p>If you did not expect this email, please contact your system administrator immediately at <a href="mailto:{{ support_email|default:contact_email }}">{{ support_email|default:contact_email }}</a>.</p>
{% endblock %}
