{% extends "emails/email_base.html" %}

{% block subject %}Password Reset Request{% endblock %}

{% block body %}
<p>Hello {{ user_name }},</p>

<p>We received a request to reset the password for your {{ university_name|default:"University Timetabling System" }} account.</p>

<p>To reset your password, click the link below:</p>
<p><a href="{{ reset_url }}">{{ reset_url }}</a></p>

<p>This reset link is valid for 24 hours from the time this email was sent.</p>

<p>If you did not request a password reset, please ignore this email. Your account remains secure and no changes have been made.</p>
{% endblock %}
